{% extends 'base.html' %}
{% load static %}

{% block title %}Acerca de nosotros{% endblock %}

{% block content %}
    <h2>Acerca de nosotros</h2>
    <p>Somos Rincones Remotos, un equipo apasionado por descubrir y compartir experiencias en lugares remotos alrededor del mundo. Nuestra misión es inspirar a otros a explorar lo desconocido, conectarse con la naturaleza y sumergirse en culturas diversas.</p>
    <p>En este blog, compartiremos nuestras aventuras, recomendaciones de viaje, consejos prácticos y reflexiones sobre la belleza y la importancia de explorar rincones remotos.</p>
    <p>¡Únete a nosotros en este viaje y descubre los rincones más sorprendentes y fascinantes del planeta!</p>
{% endblock %}
