<!-- accounts/templates/accounts/feed.html -->
{% extends 'base.html' %}
{% block title %}Cerrar Sesión{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Personalizado</title>
</head>
<body>
    <h1>Feed Personalizado</h1>
    <ul>
        {% for blog in user_blogs %}
            <li>{{ blog.title }}</li>
            <!-- Agrega más detalles del blog si es necesario -->
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
