{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mensajes</title>
</head>
<body>
  <h2>Lista de Mensajes</h2>
  <ul>
    {% for message in messages %}
      <li>
        <a href="{% url 'user_messages:message_detail' pk=message.pk %}">{{ message.subject }}</a>
        <form action="{% url 'user_messages:message_delete' pk=message.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {% empty %}
      <li>No hay mensajes.</li>
    {% endfor %}
  </ul>
</body>
</html>
{% endblock %}
